# could replace with .env or command line arguments

USERNAME = "FIRST.LAST42@login.cuny.edu"

PASSWORD = ""

DESIRED_FAVORITE_TITLE = "Untitled 1"  # Text that appears underneath your desired favorited schedule in the favorites tab

SECS_TO_WAIT_IN_BETWEEN_RUNS = 120